@charset "UTF-8";
.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 10px 0;
}

body {
  color: #8794BA;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: 400;
  background-color: #E5E5E5;
}

h1 {
  color: #fff;
  font-size: 50px;
  line-height: 120%;
  font-weight: 700;
  font-family: "Roboto";
}

h2 {
  color: #172755;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  padding-bottom: 30px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794BA;
}

a {
  color: inherit;
  text-decoration: none !important;
}

span {
  font-size: 20px;
  line-height: 19px;
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  color: #172755;
}

nav a {
  position: relative;
  transition: all 0.4s ease-in;
}
nav a::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #EC1C24;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover {
  color: #EC1C24;
}
nav a:hover::after {
  width: 100%;
  left: 0;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  background: #EC1C24;
  border-radius: 68px;
  font-family: "Cormorant Unicase", serif;
  color: #fff;
  position: relative;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  border: 1px solid #EC1C24;
  outline: 0px double #EC1C24;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  border: 1px solid #8794BA;
  box-shadow: inset 0 0 20px #172755;
  outline: 5px double rgba(0, 0, 0, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #172755;
  background: #8794BA;
  cursor: pointer;
}

.hero {
  background-image: url("../images/hero_bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}
.hero__inner {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.hero__textbox {
  max-width: 550px;
  padding-top: 30px;
}
.hero__text {
  max-width: 545px;
  margin-top: 25px;
  margin-bottom: 60px;
}
.hero__btn {
  width: 300px;
  height: 50px;
  padding: 13px 60px;
}
.hero__img img {
  width: 100%;
}

.header {
  padding: 40px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo > img:last-child {
  margin-left: 10px;
  margin-top: 5px;
}
.header__nav {
  width: 500px;
  margin: 0 30px;
  z-index: 0;
  position: relative;
}
.header__nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.header__nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.header__nav-count {
  position: absolute;
  top: -65%;
  right: -15%;
  color: #6F7482;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 40%;
  padding: 0.5px 4px 2px 4px;
  vertical-align: middle;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
.header__sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__sign-item a {
  transition: all 0.4s ease-in;
}
.header__sign-item a:hover {
  color: #EC1C24;
}
.header__sign-item + .header__sign-item {
  margin-left: 25px;
}
.header__sign-item + .header__sign-item a:hover {
  background-color: #EC1C24;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 20px #000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-shadow: none;
}
.header__sign-item:last-child .header__sign-link {
  border: 1px solid #465B95;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 68px;
  padding: 10px 30px;
}
.header__sign-link, .header__sign-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.header__sign-text {
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
}
.header__sign-login {
  display: flex;
  justify-content: end;
  align-items: center;
}

.main {
  padding: 50px 0;
}
.main__text {
  text-align: center;
}
.main__features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 25px;
}
.main__features-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__features-text {
  margin-top: 15px;
  line-height: 23px;
  font-size: 16px;
}
.main__features-img {
  margin-bottom: 25px;
}
.main__elements {
  margin-top: 120px;
  display: grid;
  gap: 80px;
}
.main__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.main__item:nth-child(even) .main__textbox {
  order: 2;
}
.main__textbox {
  padding: 100px 0;
  max-width: 480px;
}
.main__textbox-title {
  text-align: left;
}
.main__textlist {
  text-align: left;
}
.main__textlist {
  margin-top: 20px;
}
.main__textlist li {
  padding-left: 30px;
  position: relative;
  padding-bottom: 5px;
}
.main__textlist li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #172755;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 10px 10px 50px -15px rgba(25, 42, 89, 0.2);
}
.main__img {
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  width: 600px;
  height: 410px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__img img:nth-child(1) {
  border-radius: 30px;
}

.villain {
  background-image: url("../images/villain_bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.villain__about {
  padding-top: 180px;
  max-width: 1100px;
  margin: 0 auto;
}
.villain__title {
  color: #fff;
}
.villain__text {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #fff;
  opacity: 0.9;
  margin-bottom: 15px;
}
.villain__partners {
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.villain__partner {
  transition: all 0.4s ease-in;
}
.villain__partner:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
.villain__partner-madi img {
  padding-left: 70px;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.footer__logo a {
  display: flex;
}
.footer__logo a img:last-child {
  margin-top: 6px;
  margin-left: 10px;
}
.footer__nav {
  width: 500px;
  margin: 0 30px;
}
.footer__nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.footer__nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
.footer__social li {
  transition: all 0.4s ease-in;
}
.footer__social li:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
.footer__copy {
  text-align: center;
  letter-spacing: 0.075em;
  font-family: "Cormorant Unicase";
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  opacity: 0.7;
  padding-bottom: 17px;
}

.footer-main {
  border-top: 1px solid #2A407C;
}

.header:not(.header-main) {
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0 115px 0;
  margin-bottom: 15px;
}

.footer:not(.footer-main) {
  background-image: url("../images/footer_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 130px 0 20px 0;
  margin-top: 15px;
}

.sign {
  background-color: #fff;
  border: 7px #172755;
  border-style: solid double;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.44);
  max-width: 600px;
  margin: 0 auto;
  padding: 35px 25px;
}
.sign-title {
  font-family: "Cormorant Unicase";
  font-size: 48px;
  padding-bottom: 32px;
}
.sign-postTitle {
  font-family: "Roboto";
  text-align: center;
  line-height: 46px;
  font-size: 30px;
  padding: 20px 0;
}
.sign .cross-line {
  background-image: url("../images/cross-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 7px;
  margin-bottom: 25px;
}
.sign .cross-line-invert {
  transform: rotate(180deg);
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 7px;
  color: #6F7482;
}
.form__text b {
  color: #EC1C24;
}
.form__box {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}
.form__input, .form__select, .form__list {
  background-color: #F8FAFC;
  width: 100%;
  padding: 12px;
  border: 1px solid #7C6C6C;
  border-radius: 4px;
  margin-bottom: 25px;
}
.form__input::-moz-placeholder, .form__select::-moz-placeholder, .form__list::-moz-placeholder {
  color: rgba(0, 0, 0, 0.65);
  align-self: stretch;
  letter-spacing: 0.07em;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.form__input::placeholder,
.form__input option:disabled, .form__select::placeholder,
.form__select option:disabled, .form__list::placeholder,
.form__list option:disabled {
  color: rgba(0, 0, 0, 0.65);
  align-self: stretch;
  letter-spacing: 0.07em;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.form__select {
  cursor: pointer;
}
.form__select option:disabled {
  color: #6F7482;
  background-color: #E5E5E5;
}
.form__list {
  padding: 12px !important;
}
.form__list li + li {
  margin-top: 12px;
}
.form__list li {
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 60px;
  background-color: #fff;
  color: rgba(23, 39, 85, 0.7);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: relative;
}
.form__list li:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  background-color: #172755;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  cursor: pointer;
}
.form__list .form__item-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form__list .form__item-table-head {
  padding: 5px 60px;
  margin-bottom: 10px;
}
.form__list .form__item-table-head, .form__list .form__item-table-body {
  display: flex;
}
.form__list .form__item-table-head thead,
.form__list .form__item-table-head tbody,
.form__list .form__item-table-head tr, .form__list .form__item-table-body thead,
.form__list .form__item-table-body tbody,
.form__list .form__item-table-body tr {
  display: flex;
  width: 100%;
}
.form__list .form__item-table-head th,
.form__list .form__item-table-head td, .form__list .form__item-table-body th,
.form__list .form__item-table-body td {
  width: 100px;
  text-align: center;
  padding: 0 5px;
}
.form__list .form__item-result {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #172755;
}
.form__list .form__item-result > p {
  font-weight: bold;
}
.form__list .form__item-result > div {
  display: flex;
  width: 275px;
  justify-content: space-between;
  align-items: center;
}
.form__error {
  margin-bottom: 25px;
  border-radius: 4px;
  width: 100%;
  padding: 12px;
  background-color: #F2DEDE;
  color: #EC1C24;
}
.form__success {
  margin-bottom: 25px;
  border-radius: 4px;
  width: 100%;
  padding: 12px;
  background-color: #D4EDDA;
  color: #40754C;
}
.form textarea {
  width: 100%;
  height: 130px;
  resize: none;
  margin-bottom: 10px;
}
.form__input-eye {
  position: absolute;
  right: 12px;
  bottom: 179px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}
.form__input-repassword_eye {
  bottom: 69px;
}
.form__check {
  font-size: inherit;
  font-family: inherit;
  display: inline-flex;
  gap: 10px;
}
.form__check input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.form__check label {
  cursor: pointer;
}
.form__btn {
  font-family: "Cormorant Unicase";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 13px 60px;
  max-width: 100%;
  margin-top: 10px;
}
.form__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__order-clear {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(../images/clear-order.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-color: #8794BA;
  border-radius: 10px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.form__order-clear:hover {
  background-color: rgba(135, 148, 186, 0.4);
}
.form__order-clear:disabled {
  background-color: rgba(111, 116, 130, 0.8);
  cursor: not-allowed;
}

.sign_in .form__input-eye {
  bottom: 70px;
}

.profile .form__input-eye {
  bottom: 40px;
}

.btn-addToOrder {
  font-size: 20px;
}

.update-btn {
  margin-top: 0;
}

.form__del-user {
  display: flex;
  justify-content: end;
  align-items: center;
}
.form__del-user-btn {
  border: none;
  border-radius: 4px;
  padding: 2px 10px;
  background-color: #F2DEDE;
  color: #EC1C24;
  cursor: pointer;
  transition: all 0.7s ease;
  font-size: 16px;
}
.form__del-user-btn:hover {
  color: #F2DEDE;
  background-color: #EC1C24;
}

.note {
  max-width: 80%;
  background-color: #F8FAFC;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  color: #6F7482;
}
.note__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.note__head h2 {
  padding-bottom: 0;
  padding-right: 20px;
  text-transform: uppercase;
}
.note__head img {
  width: 90px;
  height: 90px;
}
.note__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.note__data p {
  margin-bottom: 8px;
}
.note__data-info-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.note__data-info-title {
  text-align: right;
  font-weight: bold;
}
.note__data-info-text {
  text-align: left;
}
.note__info {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 25px;
}
.note__info-user, .note__info-other {
  width: 50%;
  border-bottom: 3px solid #6F7482;
  padding-bottom: 15px;
}
.note__info-user h4, .note__info-other h4 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
  padding: 15px 0;
  border-top: 3px solid #6F7482;
  border-bottom: 3px solid #6F7482;
  border-radius: 20%;
  text-align: center;
}
.note__info-box {
  font-size: 16px !important;
  color: #6F7482 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note__info-user-title div, .note__info-user-text div {
  margin-bottom: 10px;
}
.note__info-user-title {
  font-weight: bold;
}
.note__info-user-text {
  text-align: right;
}
.note__text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 24px;
  color: #6F7482;
}
.note__text b {
  color: #172755;
  font-size: 1.5rem;
}
.note__res {
  padding: 25px 25px 10px 25px;
  margin-top: 20px !important;
  border-top: 2px solid #172755;
}
.note__list {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  padding: 12px !important;
}
.note__list-title {
  font-size: 30px;
  color: #172755;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: relative;
  text-shadow: 1px 1px 2px #6F7482;
  text-align: center;
  line-height: 48px;
  padding-bottom: 5px;
}
.note__list li {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #172755;
  background-color: #fff;
  color: rgba(23, 39, 85, 0.7);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: relative;
}
.note__list .note__item-table-head {
  width: 100%;
  padding: 10px;
  border: 1px solid #172755;
  border-radius: 4px;
  color: #172755;
  background-color: #fff;
}
.note__list .note__item-table-head, .note__list .note__item-table-body {
  display: flex;
}
.note__list .note__item-table-head thead,
.note__list .note__item-table-head tbody,
.note__list .note__item-table-head tr, .note__list .note__item-table-body thead,
.note__list .note__item-table-body tbody,
.note__list .note__item-table-body tr {
  display: flex;
  width: 100%;
}
.note__list .note__item-table-head th,
.note__list .note__item-table-head td, .note__list .note__item-table-body th,
.note__list .note__item-table-body td {
  width: 100%;
  text-align: center;
}
.note__list .note__item-result {
  margin-top: 20px;
  color: #172755;
}
.note__list .note__item-result > p {
  font-weight: bold;
}
.note__list .note__item-result > div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn-pdf {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20%;
  top: 25%;
}

.profile__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.profile__box a {
  padding: 6px 12px;
  background-color: #D4EDDA;
  color: #40754C;
  cursor: pointer;
  transition: all 0.7s ease;
  font-size: 16px;
  border-radius: 4px;
}
.profile__box a:hover {
  color: #D4EDDA;
  background-color: #40754C;
}

.btn-addNote {
  background-color: #40754C;
  border: 1px solid #40754C;
  outline: 0px double #40754C;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.form__addNote {
  height: 62.5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.form__addNote input, .form__addNote option[selected] {
  text-align: center;
  height: 100%;
  border: 1px solid #ddd;
}
.form__addNote select {
  height: 100%;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.65);
}
.form__addNote select option:not([selected]) {
  color: #000;
}
.form__addNote-text {
  width: 120px;
  padding: 10px;
  color: #172755;
}
.form__addNote .cltName {
  width: 285px;
}
.form__addNote .ordAddress {
  width: 170px;
}
.form__addNote .ordDate {
  width: 115px;
}
.form__addNote .empName {
  width: 250px;
}
.form__addNote .autoModel {
  width: 170px;
}
.form__change input:not(:last-child), .form__change select {
  height: 55px;
  color: rgba(0, 0, 0, 0.65);
}
.form__change input:not(:last-child) option:not([selected]), .form__change select option:not([selected]) {
  color: #000;
}

#myBtn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #000;
  font-weight: bold;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант */
  background-color: rgba(0, 0, 0, 0.4); /* Черный с непрозрачностью */
}
.modal-content {
  border-radius: 20%;
  padding: 60px;
}
.modal .sign-title {
  font-size: 32px;
  padding-bottom: 18px;
}

/* Кнопка закрытия */
.close {
  color: #2A407C;
  float: right;
  font-size: 70px;
  font-weight: bold;
  line-height: 0;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.control-list li {
  margin-top: 30px;
}
.control-list li i {
  margin-right: 20px;
}
.control-list li a {
  position: relative;
  transition: all 0.4s ease-in;
}
.control-list li a::after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #EC1C24;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.control-list li a:hover {
  color: #EC1C24;
}
.control-list li a:hover::after {
  width: 100%;
  left: 0;
}
.control .cross-line {
  margin-bottom: 40px;
}

.client input, .client option[selected], .employee input, .employee option[selected], .auto input, .auto option[selected], .goods input, .goods option[selected] {
  text-align: center;
  height: 100%;
  border: 1px solid #ddd;
}
.client select, .employee select, .auto select, .goods select {
  height: 100%;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.65);
}
.client select option:not([selected]), .employee select option:not([selected]), .auto select option:not([selected]), .goods select option:not([selected]) {
  color: #000;
}
.client__text, .employee__text, .auto__text, .goods__text {
  width: 120px;
  padding: 10px;
  color: #172755;
}
.client__change input, .client__change select, .employee__change input, .employee__change select, .auto__change input, .auto__change select, .goods__change input, .goods__change select {
  width: 100%;
}

.client__name {
  width: 270px;
}
.client__tel {
  width: 135px;
}
.client__sex {
  width: 67px;
}
.client__date {
  width: 141px;
}
.client__address {
  width: 250px;
}
.client__password {
  width: 91px;
}

.employee__text {
  width: 185px;
}
.employee__name {
  width: 314px;
}
.employee__tel {
  width: 207px;
}
.employee__job {
  width: 174px;
}
.employee__password {
  width: 161px;
}
.employee__add-btn {
  margin: 8px 25px !important;
}

.auto__text {
  width: 231px;
}
.auto__releaseyear {
  width: 233px;
}
.auto__brand {
  width: 163px;
}
.auto__model {
  width: 176px;
}
.auto__regnum {
  width: 213px;
}
.auto__add-btn {
  margin: 8px 38px !important;
}

.goods__text {
  width: 205px;
}
.goods__name {
  width: 166px;
}
.goods__producer {
  width: 245px;
}
.goods__guarantee {
  width: 175px;
}
.goods__weight {
  width: 112px;
}
.goods__price {
  width: 129px;
}
.goods__add-btn {
  margin: 8px 30px !important;
}/*# sourceMappingURL=style.css.map */