body {
    font-size: 16px;
    font-family: 'Matials','Avenir', Helvetica, Arial, sans-serif;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 10px 0;
}

.title {
    font-family: 'UssrStencil','Avenir', Helvetica, Arial, sans-serif;
}

.panel-title {
    font-family: 'UssrStencil','Avenir', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding: 7px 0;
}

th {
    text-align: center;
    cursor: pointer;
}

hr { 
    margin: 20px 0;
    padding: 0;
    height: 3px;
    border: none;
    background: linear-gradient(45deg, #333, #ddd);
}

.table-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table-bordered {
    margin-bottom: 25px;
}

.page {
    padding: 10px 14px;
    border: 2px solid #7e7e7e;
    border-radius: 30%;
    margin: 0 3px;
    cursor: pointer;
    transition: all .4s ease-in;
    font-weight: bold;
}

.page:hover {
    background-color: #7e7e7e;
    color: #fff;
}

.page-active {
    background-color: darkred;
    border: 2px solid white;
    color: whitesmoke;
    cursor: pointer;
}

.arrow {
    border: 1px double #7e7e7e;
    border-radius: 25%;
    height: 50%;
    margin: auto 5px;
    background-color: antiquewhite;
    transition: all .4s ease-in;
}

.arrow:disabled {
    opacity: .5;
}

.fa-arrow-right,
.fa-arrow-left {
    vertical-align: middle;
}

.filter-box {
    margin-bottom: 20px;
    align-items: center;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 340px;
    padding: 0 10px;
}

.filter-sel {
    height: 35px;
    padding: 0 3px;
}

.search {
    height: 35px;
    padding: 0 15px;
}

.btn__all-items {
    height: 35px;
}

.all-items-icon {
    padding-top: 5px;
}

.table-pagination.--active {
    display: none;
}

@media (max-width: 780px) {
    .panel-body {
        position: relative;
    }
    .table-responsive {
        margin-bottom: 70px;        
    }
    .table-pagination {
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
    }
    .filter-box {
        text-align: center;
        margin: 25px auto;
    }
}